/* List */

.main-list-screen-coordenadores {
    flex: 1; /*Para ocupar todo espaço acima do footer*/
}

.container-search-list {
    margin-bottom: 1rem;
}

.search-list button {
    margin-left: 7px;
}

.list-group {
    font-size: 1rem;
}

.list-title {
    font-size: 1.2rem;
}

.list-group {
    border-radius: 12px;
}

.list-title {
    border-radius: 12px 12px 0px 0px;
}

.list-group-numbered {
    padding: 0;
    margin: 0;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

/* Nav-bottom */

.nav-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1rem;
}

.btn-success, .btn-primary {
    font-size: .9rem;
    padding: .50rem .70rem;
    margin: 0;
}

.pagination {
    --bs-pagination-font-size: .8rem;
    margin: 0;
}

@media (max-width:912px) {
    #sidebar {
        min-width: 40%;
    }

    .nav-bottom {
        flex-direction: column-reverse;
    }

    .group-buttons {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;
    }
}

@media (width: 540px) and (height: 720px) {
    html {
        overflow: scroll;
    }

    body {
        overflow-y: scroll;
    }

    #sidebar {
        min-width: 50%;
    }

    .main-list-screen-coordenadores {
        width: 100vw;
    }
}

@media (max-width: 430px) {
    html {
        overflow: scroll;
    }

    body {
        overflow-y: scroll;
    }

    #sidebar {
        min-width: 70%;
    }

    #sidebar.collapsed {
        margin-left: -98%;
    }

    .main-list-screen-coordenadores {
        width: 100vw;
    }

    .nav-bottom {
        flex-direction: column-reverse;
        padding: 1rem 0;
    }

    .group-buttons {
        flex-direction: column;
    }

    .btn-success, .btn-primary {
        margin-top: .8rem;
        width: 100%;
        border-radius: 12px;
        font-size: 1rem;
    }
}

@media (max-width: 375px) {
    .title-coordenacao h4 {
        font-size: 1.3rem;
    }

    .search-list {
        flex-direction: column;
    }

    .search-list button {
        margin: 7px 0 0 0;
    }

    .container-search-list {
        margin-bottom: 8px;
    }
}

@media (width: 360px) and (height: 740px) {
    .title-coordenacao {
        width: 88vw;
    }

    .title-coordenacao h4 {
        font-size: 1.28rem;
    }

    .sidebar-logo {
        padding: 2rem 30px;
    }
}

@media (width: 344px) {
    .sidebar-logo {
        padding: 2rem 24px;
    }
}

@media (max-width: 320px) {
    .sidebar-logo {
        padding: 2rem 16.4px;
    }

    .title-coordenacao h4 {
        font-size: 1.5rem;
    }

    .list-title {
        font-size: 1.1rem;
    }
}
